<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="http://localhost/mp/public/static/css/zui.css">
		<link rel="stylesheet" href="http://localhost/mp/public/static/css/za.css">
		
	</head>

	<body>
		<div class="z-quote">用户详情</div>
		<table border="1" class="table">
			<tr>
				<td>用户id</td>
				<td>{$user.u_id}</td>
			</tr>
		
			<tr>
				<td>用户姓名</td>
				<td>{$user.name}</td>
			</tr>
			<tr>
				<td>用户性别</td>
				<td>{$user.sex}</td>
			</tr>
			<tr>
				<td>微信号</td>
				<td>{$user.wx_number}</td>
			</tr>
			<tr>
				<td>昵称</td>
				<td>{$user.nikename}</td>
			</tr>
			<tr>
				<td>手机号</td>
				<td>{$user.phone}</td>
			</tr>
			<tr>
				<td>进入时间</td>
				<td>{$user.u_time}</td>
			</tr>
			<tr>
				<td>状态</td>
				<td>
					{if $user.status==1}
					已通过审核
					{else /}
					未审核
					{/if}
				</td>
			</tr>
		</table>
		<a href="{:url('admin/user/userList')}" style="float: right;margin-top: 20px;margin-right: 20px;"><button class="btn btn-primary">返回上一页</button></a>
	</body>

</html>